body{
    font-family: 'Montserrat-black';
}
#title{
    background-color: #ff4c68;
    color: #fff;
    
    /* font-family: 'Ubuntu', sans-serif; */
}
.container-fluid{
    padding: 3% 15%;
}
h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family:'Montserrat-Bold' ;
    font-size: 3rem;
    line-height: 1.2; 
}
h3{
    font-family:'Montserrat-Bold' ;
    font-weight: bolder;
}
p{
    color: #8f8f8f;
}
.navbar{
    padding-bottom: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    
}
.nav-item{
    padding: 0 18px;
    /* text-align: left; */
}
.nav-link{
    font-size: 1.2rem;
    font-family:'Montserrat-light' ;
    /* font-weight: lighter; */
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
}
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1.2rem;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    text-align: center;
    
}
.pricing-column{
    padding: 3% 2%;
}
#cta{
    text-align: center;
    background-color: #df5368;
    font-family:'Montserrat-Bold' ;
    color: #fff;
    line-height: 1.2;
    font-size: 4rem;
    padding-top: 30px;
}
#footer{
    padding: 28px 10px;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
.link-button{
    margin: 4% 2% 4% 0;
}
.mb-3{
    font-size: 1rem;
    color: black;
    line-height: 1.2;

}
.navbar-nav {
    float: left;
}